<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg">
        <span class="title">诺崇科技</span>
      </div>
      <div class="desc">微服务开发平台</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2018
      <a href="//github.com/insanetoto" target="_blank">诺崇科技有限公司</a> Base on Ng alain
    </global-footer>
  </div>
</div>
